<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SpotifyClientID" value="xrARjZQy4g8CqM5nEFXtoL1oekSygSY+4cTgcUFdslbu7RPkyylX0l295DVKgAYV" />
    <add key="SpotifyClientSecret" value="Wp9fzMzytgKTXfKcLIZvsATiKLSliTbXTM/y21lqBwPugIEH//R5KzPFRnxH/S9t" />
	<add key="GeniusClientId" value="pMo353YebyPOeNM/b6cF0gygYjakwuMxcxKtZP7jKfn1bXFRlY/6y8eFx3E9d8HFCIBna7F58FqoqxGRhIOHXbHThWFdkY8KUnKrE6I1OHI=" />
	<add key="GeniusClientSecret" value="Uv96x5vi7Xak/MHZlESROS480tTsYCEj2yNxo+dNx2ZZXXgsGWLC2/dpQh9NTer8AbfndJ1DR05pTLDyV9oLi1ZuACdidL5S5uj2069RhRl7JoGWYCBQsidXg0pyqp6T" />
	<add key="GeniusAccessToken" value="8qGfT9XHNv6/JNu+sP7Qd2YWTlSZUDTXa125gP+w67iC9SzyoOdT8uRipyjFniqsrORJaKtHuSilJtdA3GQVsMUhtAPL+Sm6HGOG65nf22U=" />
    <add key="smtp_pwd" value="G0CN6Ay62Lm6BmfU3eXJa856KV/mSySN0bT4MHy87aw=" />
    <add key="APIKey1" value="Zmz1MbSuM3tSDle8ipl0YYO3uUUud37c3eJw9jCYFgKPnpkCGHpVQLJtNM4c5OCo" />
    <add key="APIKey2" value="gn5FhdB3ihpX3K9HJAflelwxjcrw7vjaFMFFUpA2Da/En4EfV/DqBHA6gkKE5aUH" />
    <add key="APIKey3" value="MuO2R3c9VUYI5Iqd2k+KagVQ38LYX/dnhfdQjv6XHItzZOIGEdvKhpv4PuYnW4zm" />
    <add key="APIKey4" value="rdSO0pqBGAIhPCjNlPq8wT46zDLo1CHW1x6os2O0hWliZbF3A2L9b3VBrZa8g0PC" />
    <add key="APIKey5" value="COkvRsU+KlrFQCYictbzAQlXrdwFrKbp1MUXPzAlY1wagzAP98n1nH4+XMkXiYYr" />
    <add key="APIKey6" value="rckoM+5pQkEMa+sMiKOaz3816L7zYoAUmI/CcLx4fBHwYCnmgW9K46nXRuZm5vVb" />
	<add key="APIKey7" value="ipLkfrnyi+dNol6CLwbzLYyuYZb6pKLvwwiIsOYAWg+EPuRoo+EAvtMW5oBVD4UN" />
    <add key="APIKey8" value="1lQsqBoNW18YW/P6JW9Mr2tXBuOZnyVLZKloDek7IM16hBDH6IYmYnf5KtEW1RY2" />
	<add key="APIKey9" value="qDCIWXFjIgGAxKy/u6EA+5BLtdWAHBBbe7UcvZDhmoLs1Xip49luA4NWAZi217YU" />
	<add key="APIKey10" value="nKj6Wym9ZzigRKdyf5uREY8MvP/0moVx/Xyh98As9c4M/gZhrJt4Tjx/66NvEUzC" />
	<add key="APIKey11" value="1RcKDqOpJWgu22aZ1QtNt8KfDM2/aAqDWIT3ZJJ5mna7DET5/OJF13gTE82Aie72" />
	<add key="APIKey12" value="w0nL+lXoAq5XgZb5xQ+bXVVvkRLMLQalwtdCNebJZuyw4DPLWbogENpieGinqKEX" />
	<add key="APIKey13" value="epqRkybD6/K9y93KFo6Mn0MuvwVRhjvyuzey/s0G6EmkCB13swq5DfRXR9h45BUY" />
	<add key="APIKey14" value="Nx9d8JCT27sD6ODmY8WwqYg5l3yYDpT3JPsV7zWpinrqF1QZ5nj47UbD4tYIuDA3" />
	<add key="APIKey15" value="sBthCfVmHaB9AK9gA3w3CTBaKTCdkOWSsEiLlhgwPJePrVRR5wpDVdBVHvTCWM7E" />
	<add key="APIKey16" value="GHvHP8nrC3wOQ6BYoaY1SLdzQVqiCWSd4dQk7FKzQf9ipL8ruvOE+PB3qMCjaqBU" />
	<add key="APIKey17" value="kieFCKRzNL6k/pfCmLy9oYTl/xHSd3Q8Zid9DKwqWEiqOMB8viQkG+4IepnI31mO" />
	<add key="APIKey18" value="ix1MhiMUpQ3az70YR3cCrmeuLhx6bZFb/VrBI2fXCmUoCQXVjAg4Guu++rj62MFD" />
    <add key="APIKey19" value="8EKJY1BabwELuZi17nkWoeOJ6sJYjTcr3o6gg+UOZ98E+0E5inl4bFZi3Hr/81sS" />
    <add key="APIKey20" value="xzh9p7Z/3vD2/AJjap/CjXtL5GXkdeciEe8Mi7vZsEq6lY6mgdazstRzAMV3L/i/" />
    <add key="APIKey21" value="ytjN08BYUaCcATW3R6OmGuRNUbkcr7mI+z7qsbIudQCrYUzAJuJCsdKgMnDKFM1u" />
    <add key="APIKey22" value="k/nAAjHoajxcews92k3j72inhZNWOBXFbOzVzJ2RN0FOD3mhxnMmQAPPvlgkA48h" />
    <add key="APIKey23" value="4lqmjhgEbdTBnL7y7t7QdKH8dwKrFsjO5tZmuD23D3wy/dxWRV4Hy9axTX9t1HVG" />
    <add key="APIKey24" value="Y/w6JIDmNs1yzydO6/0cwa3ZclHCZfXpmUypa0+yLKNMGRL4qVifmbtRV60tRlcx" />
    <add key="APIKey25" value="GjueV3rI7jYH8z5qxAu91yS5BGZU4RnutAYCH55m0FCeMNx/xm13s0AcwhWkLvJD" />
    <add key="APIKey26" value="RvgpF3F1quECvuFlHGZEHyPQ9oXRe3Ta1ZIEu+UpmFLbfJs4LR+PBAt985T3IhCg" />
    <add key="APIKey27" value="88EAtSpbzhE1n917rwO7OngDJvbFzobT4fARoYlgPqCKg1U/s0Khu9TcHJsi4O5L" />
    <add key="APIKey28" value="B1nGH65aaxb8J8xybH00Z1yr4WF5752KCy7EkQiOieptPPhipgsiB4onJvBEtvMJ" />
    <add key="APIKey29" value="X6lW/baHjfBprqnX7ePMJkyzb1GBF/FoisRuhBE72vUOgqr+PvYUQnsn3rHoPOyu" />
    <add key="APIKey30" value="p05XghF6MRS35U2yvnUm+htK5TEb1asWvl3z+V8n2RWfeW0cvOE445RybaAnsZgZ" />
  </appSettings>
</configuration>
